<div id="app" class="indexTab" v-cloak="">
	<div class="mainBlock">
		<div class="headline">
			<img src="./assets/img/coin_white.png" alt="Karbo" style="width:64px;height:64px;margin-bottom:1rem;"/>
			<h1>{{ $t("homepage.mainTitle") }}</h1>
			<h2>{{ $t("homepage.tagLine") }}</h2>
		</div>
		<div class="callToAction">
			<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn primary" style="width:100%;">{{ $t("homepage.actions.loadWallet") }}</a>
			<a href="#!createWallet" class="btn primary" style="width:100%;" v-if="!hasLocalWallet">{{ $t("homepage.actions.createWallet") }}</a>
			<a href="#!import" class="btn basic" style="width:100%;">{{ $t("homepage.actions.importWallet") }}</a>
		</div>
	</div>

	<div class="notesBlock hideOnNative">
		<div class="container">
			<div class="notes">
				<div class="block">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<h3>{{ $t("homepage.notes.secure.title") }}</h3>
					<h4>{{ $t("homepage.notes.secure.description") }}</h4>
				</div>
			</div>
			<div class="notes">
				<div class="block">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
					<h3>{{ $t("homepage.notes.fast.title") }}</h3>
					<h4>{{ $t("homepage.notes.fast.description") }}</h4>
				</div>
			</div>
			<div class="notes">
				<div class="block">
					<i class="fa fa-key" aria-hidden="true"></i>
					<h3>{{ $t("homepage.notes.technology.title") }}</h3>
					<h4>{{ $t("homepage.notes.technology.description") }}</h4>
				</div>
			</div>
			<div class="notes">
				<div class="block">
					<i class="fa fa-code" aria-hidden="true"></i>
					<h3>{{ $t("homepage.notes.openSource.title") }}</h3>
					<a href="https://github.com/Karbovanets/karbo-webwallet-js" target="_blank" rel="nofollow"><h4>{{ $t("homepage.notes.openSource.description") }}</h4></a>
				</div>
			</div>
		</div>
	</div>
</div>
